<head>
    <meta name="naver-site-verification" content="2f9358e1e36605519854a595f243f0171519dd1d">
    <meta name="google-site-verification" content="0bGV8gPhwO_PzritNvIsz2k74EH5yPsrXXluJ8ZUed8">
    <meta name="google-site-verification" content="dO99-Ao-ywXeVDEz4jz5nJBXzQXVCgmX4WXzxl_Nf3c">
    <meta name="facebook-domain-verification" content="jvxpdjfrqqan9oe1qdrjfyxj553an6">
    <meta name="fallbackUrl" content="https://itunes.apple.com/app/apple-store/id1072288949">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <!-- Mobile Smart Banner for IOS Device -->
    <meta name="apple-itunes-app" content="app-id=1072288949">
    <!-- //Mobile Smart Banner for IOS Device -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="더한섬닷컴 | THE HANDSOME.COM">
    <meta property="og:description" content="타임, 마인, 시스템, SJSJ 등 프리미엄 브랜드 및 트렌디한 해외·편집숍까지 가득한 스타일 플랫폼!">
    <meta property="og:image"
        content="http://s3.ap-northeast-2.amazonaws.com/cdn.thehandsome.com-kr/pc/210510_logo/%E3%84%B9%EB%A1%9C%EA%B3%A0.png">
    <meta property="og:url" content="http://www.thehandsome.com/ko/">
    <meta name="keywords" contents="한섬, 더한섬닷컴, 한섬몰, 한섬아울렛, 한섬닷컴, 더한섬, 한섬올라인몰, HANDSOME, thehandsome">
    <script async="" defer="" src="https://cdn.megadata.co.kr/dist/prod/enp_tracker_self_hosted.min.js"></script>
    <script>
    </script>
    <script type="text/javascript">
        var appYn = "N";
        var appOs = ""; //ios, android

        var uid = "";
        var pageUid = "mobileMain202105Page";
        var chkScreenPage = [];


        if (appYn == 'Y') {  //appì¼ëë§ ì²´í¬
            if (uid == "snsMain" || uid == "snsDetail" || uid == "snsMyProfile" || uid == "snsCollectionDetail" || uid == "snsSearchList"
                || chkScreenPage.indexOf(pageUid) > -1) { //íì©íì´ì§
                if (appOs == "ios") { //ios
                    webkit.messageHandlers.screenShotEnable.postMessage("false");
                } else { //android
                    Android.screenShotEnable("false");
                }
            } else { //ì¬ì©ìí¨
                if (appOs == "ios") { //ios
                    webkit.messageHandlers.screenShotEnable.postMessage("true");
                } else { //android
                    Android.screenShotEnable("true");
                }
            }
        }

    </script>
    <title>
        더한섬닷컴</title>
    <link rel="shortcut icon"
        href="http://www.thehandsome.com/_ui/mobile/common/images/common/thehandsome_ic_16x16.ico">
    <link rel="apple-touch-icon" href="http://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
    <link rel="apple-touch-icon-precomposed"
        href="http://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
    <link rel="apple-touch-icon-120x120"
        href="http://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
    <link rel="apple-touch-icon-120x120-precomposed"
        href="http://www.thehandsome.com/_ui/mobile/common/images/common/app_ban_logo.png">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/font_80.css?20221121" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/jquery-ui.css" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/selectordie.css" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/default.css?202200826" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/display.css?20221107" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/assist.css?20220929" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/devAssist.css" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/swiper-vr1908.min.css" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/main201909.css?20200423" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/renew_main.css?20220826" rel="stylesheet"
        type="text/css">
    <link href="http://www.thehandsome.com/_ui/handsomemobile/css/handsomecss/popup.css" rel="stylesheet"
        type="text/css">
  <script type="text/javascript">
    var handsomePageId = "cartPage";
    var main_bul = false;
  </script>

  <script type="text/javascript">
    var goToMySmartFilterYn = "N";
    var gnbType = "br";
    var UserAgent = navigator.platform;
    var userPhoneOs = "";
    if (UserAgent.match(/i(Phone|Pod|Pad)/i) != null) {
      userPhoneOs = "IOS";
    } else {
      userPhoneOs = "ANDROID";
    }
  </script>

  <script type="text/javascript">

    var handsomeUserLoginYn = "Y";
  </script>
  <script type="text/javascript">
    var isoKoYn = "Y";
  </script>
  <script type="text/javascript">
    var handsomeIsoCode = "ko";
    var handsomeContextPath = "/ko"; 
  </script>
    <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/jquery.vticker.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/jquery.form.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/swiper.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/selectordie.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/jquery.bpopup.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/echarts.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/common.js?20210501"></script>
  <script type="text/javascript"
    src="http://www.thehandsome.com/_ui/handsomemobile/js/assist_common.js?v=20220630"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/assist_new.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/handsome.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/common_function.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/json2.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/SsoAjax.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/instagramAPI.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/makePCookie.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/content.js"></script>
  <script type="text/javascript"
    src="http://www.thehandsome.com/_ui/handsomemobile/js/e-smart-zoom-jquery.min.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/popup.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/simplepagination.js"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/netfunnel.js"
    charset="UTF-8"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/netfunnel_skin.js"
    charset="UTF-8"></script>
  <script type="text/javascript" src="http://www.thehandsome.com/_ui/handsomemobile/js/unorm.js"></script>
  <!-- <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script> -->
    <script type="text/javascript">
        var setDimensionData = function () {
            //GA 설정 sessionStorage 페이지 이동시 초기화 
            window.sessionStorage.removeItem('main_new_ecommerceDataList');
            window.sessionStorage.removeItem('main_best_ecommerceDataList');
            var smartListSize = window.sessionStorage.getItem('smart_ecommerceDataList_size');
            for (var i = 0; i <= smartListSize; i++) {
                window.sessionStorage.removeItem('smart_ecommerceDataList_' + i);
            }
            window.sessionStorage.removeItem('smart_ecommerceDataList_size');
            window.sessionStorage.removeItem('smart_more_ecommerceDataList');
            window.sessionStorage.removeItem('search_recommend_ecommerceDataList');
            window.sessionStorage.removeItem('ecommerceDataList');
            window.sessionStorage.removeItem('yours_lately_ecommerceDataList');
            window.sessionStorage.removeItem('yours_shoppingbag_ecommerceDataList');
            window.sessionStorage.removeItem('yours_wish_ecommerceDataList');
            window.sessionStorage.removeItem('yours_recommend_ecommerceDataList');
            window.sessionStorage.removeItem('ou_main_ecommerceDataList');

            var categoryListSize = window.sessionStorage.getItem('category_ecommerceDataList_size');
            for (var i = 0; i <= categoryListSize; i++) {
                window.sessionStorage.removeItem('normal_cate_ecommerceDataList_' + i);
            }
            window.sessionStorage.removeItem('category_ecommerceDataList_size');

            var cid = getCid();
            var device = "";

            if (getCookie2("app") == null || getCookie2("app") == "") {
                device = "MO_WEB";
            } else {
                device = "APP";
            }

            var entrySite = "";

            entrySite = "KO";


            var oneDepthPage;   // 없을 경우 undifined 그대로 넘겨야 하기 때문에 초기화 X
            var pageTitle = "";
            var tmp = getPageDepth();
            if (tmp != "") {
                oneDepthPage = tmp;
                pageTitle = getGAPageTitle(oneDepthPage);
                if (pageTitle == "") {
                    oneDepthPage = undefined;
                    pageTitle = document.title;
                }
            } else {
                pageTitle = document.title;
            }

            var pageviewObj = new Object();
            pageviewObj.dimension1 = cid;                          //고객_ClientID
            pageviewObj.dimension15 = device;                       //채널_채널유형
            pageviewObj.dimension16 = entrySite;                  //채널_언어 - #2846 삭제요청 hychung, #2846 복원요청 hychung
            pageviewObj.dimension18 = oneDepthPage;                 //페이지_1Depth (페이지depth 없는경우 undefined처리)
            pageviewObj.title = pageTitle;                          //페이지제목     (페이지제목 없는경우 document.title 입력)

            //로그인 했을경우만 추가 dimension 세팅

            pageviewObj.dimension2 = "65129537";                  //고객_회원번호
            pageviewObj.dimension3 = "통합";                  //고객_회원구분
            pageviewObj.dimension4 = "";                  //고객_지역
            pageviewObj.dimension5 = "F";                  //고객_성별
            pageviewObj.dimension6 = "25";                  //고객_연령대
            pageviewObj.dimension7 = "7ukkf6hmnSuEsPoa0azgeQ==";                  //고객_생년 => 고객_통합멤버십번호 변경됨
            pageviewObj.dimension8 = "FRIEND";                  //고객_온라인등급
            pageviewObj.dimension9 = "";                  //고객_한섬통합등급
            pageviewObj.dimension10 = "0";                //고객_구매횟수
            pageviewObj.dimension11 = "";                //고객_구매금액대
            pageviewObj.dimension12 = "";                //고객_첫구매일자
            pageviewObj.dimension13 = "";                //고객_최종구매일자
            pageviewObj.dimension14 = "20230127";                //고객_회원가입일
            pageviewObj.userId = "65129537";                      //사용자ID


            // 검색 결과 페이지 일 경우만 처리
            if (window.location.pathname.indexOf("/hssearch/searchCount") > -1) {
                pageviewObj.dimension17 = "";                     //검색_검색어(검색결과페이지일때 사용)
            }

            return pageviewObj;
        };


        function GA_Event(Category, Action, Label) {

            Label = unescape(Label).replace(/\&#039;/gi, "'").replace(/\&amp;/g, "&");

            var v_Label = Label;
            var v_Category = Category;
            var v_Action = Action;
            //공백처리을  _ 처리
            if (Category != null) {
                v_Category = Category.replace(/\s{2,}/gi, ' ').trim().replace(/\s/gi, '_');
            }
            if (Action != null) {
                v_Action = Action.replace(/\s{2,}/gi, ' ').trim().replace(/\s/gi, '_');
            }
            if (Label != null) {
                v_Label = Label.replace(/\s{2,}/gi, ' ').trim().replace(/\s/gi, '_');
            }
            console.log(v_Category, v_Action, v_Label);
            ga('gp.send', 'event', v_Category, v_Action, v_Label);
        }

        if (!String.prototype.endsWith) {
            String.prototype.endsWith = function (searchString, position) {
                var subjectString = this.toString();
                if (typeof position !== 'number' || !isFinite(position) || Math.floor(position) !== position || position > subjectString.length) {
                    position = subjectString.length;
                }
                position -= searchString.length;
                var lastIndex = subjectString.indexOf(searchString, position);
                return lastIndex !== -1 && lastIndex === position;
            };
        }

        function gaIsoCodeEncoding(isoCode) {
            if (isoCode.toLowerCase() == "ko") {
                GA_Event('공통', '푸터_CNT', 'LANGUAGE_한국어');
            } else if (isoCode.toLowerCase() == "en") {
                GA_Event('공통', '푸터_CNT', 'LANGUAGE_영어');
            } else if (isoCode.toLowerCase() == "zh") {
                GA_Event('공통', '푸터_CNT', 'LANGUAGE_중국어');
            }
        }

    </script>
    <script>
        var ko_time = '20230131124048'; // 현재시간

        // 스타일라이브 (20210901 이전 접근불가)
        if (Number(ko_time) < 20210901000000 && 'http://www.thehandsome.com/WEB-INF/views/handsomemobile/pages/main/main202105.jsp'.indexOf('/sns/') > -1) {
            location.replace("http://www.thehandsome.com/ko/magazine/newsDetailtemplatetype4?newsCode=8802187958044");
        }
    </script>

    <style media="screen">
        .blsmflw1 {
            animation: target_image 1.5s;
            animation-iteration-count: 2;
            transform-origin: 50% 50%;
        }

        @keyframes target_image {
            0% {
                transform: rotate(-2deg);
            }

            50% {
                transform: rotate(9deg)
            }

            100% {
                transform: rotate(-1deg);
            }
        }
    </style>

    <script>
    </script>

    <!-- Groobee -->
    <script type="text/javascript">
        (function (a, i, u, e, o) {
            a[u] = a[u] || function () { (a[u].q = a[u].q || []).push(arguments) };
        })(window, document, "groobee");
        groobee("serviceKey", "446b3d48b07e41f68624bf7f3457f33d");
        groobee("siteType", "custom");
    </script>
    <script charset="utf-8" src="//static.groobee.io/dist/g2/groobee.init.min.js"></script>
    <!-- End of Groobee -->
    <meta property="groobee:member_id" content="wls3147">
    <meta property="groobee:member_grade" content="FRIEND">
    <meta property="groobee:member_gender" content="여성">
    <meta property="groobee:member_type" content="통합회원">
    <meta property="groobee:member_age" content="27">
    <script>
        // 검색 결과 페이지
        if (window.location.pathname.indexOf("/hssearch/searchCount") > -1) {
            var groobeeKeyword = "";                     //검색_검색어(검색결과페이지일때 사용)
            groobee("SE", { keyword: groobeeKeyword });
        }

    </script>
    <script type="text/javascript" async=""
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/943253288/?random=1675136449084&amp;cv=9&amp;fst=1675136449084&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=375603261&amp;u_h=915&amp;u_w=412&amp;u_ah=915&amp;u_aw=412&amp;u_cd=24&amp;u_his=8&amp;u_tz=540&amp;u_java=false&amp;u_nplug=0&amp;u_nmime=0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=http%3A%2F%2Fwww.thehandsome.com%2Fko%2F%3Fuiel%3DMobile&amp;tiba=%EB%8D%94%ED%95%9C%EC%84%AC%EB%8B%B7%EC%BB%B4&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
    <meta http-equiv="origin-trial"
        content="A9+ldib+sKhGj2FcIjq5GnvBZFuIiXID0+NkE6k7cEk71MhaHFGqo3wUlUFmZ6d9w0KPwx9UxGiCTYWtRnTGDQkAAACAeyJvcmlnaW4iOiJodHRwczovL2NyaXRlby5uZXQ6NDQzIiwiZmVhdHVyZSI6IlByaXZhY3lTYW5kYm94QWRzQVBJcyIsImV4cGlyeSI6MTY4MDY1Mjc5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <meta http-equiv="origin-trial"
        content="AzLNuh8GFzfIOcwvhEg7Ymr7YCzlYVTKeD7i2iETABbRf+sL2FAx+r+HlTtxSi1zgUFxBlJVoxgLjuhqiwTjAw4AAACAeyJvcmlnaW4iOiJodHRwczovL2NyaXRlby5jb206NDQzIiwiZmVhdHVyZSI6IlByaXZhY3lTYW5kYm94QWRzQVBJcyIsImV4cGlyeSI6MTY4MDY1Mjc5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <script src="https://cdn.megadata.co.kr/js/socialLink/social_sns_config_min.js" type="text/javascript" defer=""
        async=""></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//static.groobee.io/dist/g2/css/grb-recommend-list_v2.css">
    <link rel="stylesheet" type="text/css" href="//static.groobee.io/dist/g2/css/custom-swiper.css">
    <script type="text/javascript" async=""
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/943253288/?random=1675322151641&amp;cv=9&amp;fst=1675322151641&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=375603261%2C466465925&amp;u_h=915&amp;u_w=412&amp;u_ah=915&amp;u_aw=412&amp;u_cd=24&amp;u_his=1&amp;u_tz=540&amp;u_java=false&amp;u_nplug=0&amp;u_nmime=0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=http%3A%2F%2F192.168.0.47%3A5500%2Fko%2Fmain.html&amp;tiba=%EB%8D%94%ED%95%9C%EC%84%AC%EB%8B%B7%EC%BB%B4&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
    <meta http-equiv="origin-trial"
        content="A9+ldib+sKhGj2FcIjq5GnvBZFuIiXID0+NkE6k7cEk71MhaHFGqo3wUlUFmZ6d9w0KPwx9UxGiCTYWtRnTGDQkAAACAeyJvcmlnaW4iOiJodHRwczovL2NyaXRlby5uZXQ6NDQzIiwiZmVhdHVyZSI6IlByaXZhY3lTYW5kYm94QWRzQVBJcyIsImV4cGlyeSI6MTY4MDY1Mjc5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <meta http-equiv="origin-trial"
        content="AzLNuh8GFzfIOcwvhEg7Ymr7YCzlYVTKeD7i2iETABbRf+sL2FAx+r+HlTtxSi1zgUFxBlJVoxgLjuhqiwTjAw4AAACAeyJvcmlnaW4iOiJodHRwczovL2NyaXRlby5jb206NDQzIiwiZmVhdHVyZSI6IlByaXZhY3lTYW5kYm94QWRzQVBJcyIsImV4cGlyeSI6MTY4MDY1Mjc5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
</head>