<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{include/head}"></head>
<body>
	<div class="hsome_allContents_wrapper">
		<div class="hsome_allContents">
			<header class="hsome_header">
				<h1 class="h_ttl ellipsis" id="headerTitle">회원가입 완료</h1>
				<div th:insert="~{include/member-header}"></div>
			</header>
			<!-- AceCounter END -->

			<script type="text/javascript">
				//<![CDATA[
				$(document).ready(function() {
					$("#mainBtn").click(function() {
						location.href = "/handsome/main";
					});

					$("#loginBtn").click(function() {
						location.href = "/member/CustomLogin";
					});

					fbq("track", "CompleteRegistration", {});
				});

				//]]>
			</script>
			<!-- contents s -->
			<div class="hsome_contents mbr_signup_wrap">
				<div class="mem_ct_wrap">
					<div class="txt_wrap new_cmt">
						<h5>한섬통합몰의 회원이 되신 것을 축하드립니다.</h5>
						<p>
							입력하신 개인 정보는 <a href="/handsome/mypage/personInfomationChange">마이페이지
								&gt; 나의정보관리 &gt; 개인정보변경</a>에서 바로 수정가능합니다.
						</p>
					</div>
					<div class="btn_wrap">
						<button class="btn btn_bg_b btn_login" id="loginBtn">로그인</button>
						<button class="btn btn_bd_g btn_login mt20" id="mainBtn">메인으로 이동</button>
					</div>
				</div>
			</div>
			<!-- 글로벌 -->
		</div>
	</div>
	<div id="iframepopuparea"></div>
<aside th:insert="~{include/aside}"></aside>
</body>
<!-- AceCounter Log Gathering Script V.7.5.2013010701 -->
</html>
