<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{include/head}"></head>
<body class="back">
	<div class="hsome_allContents_wrapper">
		<div class="hsome_allContents">
			<header class="hsome_header">
				<h1 class="h_ttl ellipsis" id="headerTitle">비밀번호 재설정</h1>
				<div th:insert="~{include/member-header}"></div>
			</header>
			<script>
				$(document).ready(function() {
					$('#checkPasswordBtn').on('click', function() {
						$('#easyPwSearch').submit();
					})
				});
			</script>
			<!-- contents s -->
			<!-- 한성회원 시작 -->
			<div class="hsome_contents simplemember_wrap">
				<div id="tabIdPw"
					class="mem_ct_wrap simple_mbr_wrap idpw_find_result">
					<!-- <div class="mem_ct_wrap simple_mbr_wrap idpw_find_result"> -->
					<div class="tab_cont" id="easyM" style="">
						<!-- tab_02 비밀번호 찾기 s -->
						<div class="cont on" id="tab_02" style="display: block;">
							<!-- Start: easyPw finding Input -->
							<div id="easyPwForm">
								<form id="easyPwSearch" name="easyPwSearch"
									th:action="@{/mypage/reset/password}" method="post">
									<div class="input_group">
										<div class="txt_wrap easyPwInputDiv">재설정할 비밀번호를 입력해 주세요.</div>
										<div class="input_user_name easyPwInputDiv">
											<input type="hidden" name="mpassword" th:value="${uuid}" />
											<input type="password" id="pUserName" name="resetPasswordKey"
												class="user_name" placeholder="비밀번호를 입력해 주세요."
												title="이름을 입력하세요.">
										</div>
										<div class="input_user_email easyPwInputDiv">
											<input type="password" id="pUserEmail" name="resetPasswordKey2"
												class="user_email" placeholder="비밀번호를 다시 입력해 주세요."
												title="이메일을 입력하세요.">
										</div>
										<!-- [TO DEV] Error msg here. -->
										<div class="err_wrap">
											<p class="err_txt" id="easyPwMsgErr">
												<!-- 이름을 입력하세요. -->
											</p>
										</div>
									</div>
								</form>
								<div class="btn_wrap">
									<button class="btn btn_bg_b btn_find_pw" id="checkPasswordBtn">확인</button>
								</div>
							</div>
							<!-- End: easyPw finding Input -->

							<!-- Start: easyPw finding result -->
							<div id="easyPwComplete" style="display: none;">
								<div class="txt_wrap result pw">
									<p>
										회원정보에 등록된 이메일주소로<br>비밀번호 재설정 링크가 발송되었습니다.
									</p>
								</div>
								<div class="btn_wrap">
									<button class="btn btn_bg_b btn_login"
										onclick="javascript:goPage('/member/CustomLogin');">로그인</button>
								</div>
							</div>
							<!-- End: easyPw finding result -->
						</div>
					</div>

				</div>
			</div>
			<!-- 한성회원 종료 -->
			<!-- //################## contents ################## -->
		</div>
	</div>
</body>
</html>